
.footer {
    height: 15rem;
    background: #494646;
    margin-top: 50px;

    div{
      color: white;
      font-size: 2.5rem;
      font-family: "Josefin Sans";
      text-align: center;
      padding: 10px;
    }

    div:nth-child(2) {
      text-align: center;
    }
  }